version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    allow:
      - dependency-type: direct
    labels:
      - Dependencies
    versioning-strategy: increase
    commit-message:
      prefix: "chore"
      prefix-development: chore
